
#main-container > div {
  min-width: 1070px !important;
}

.filter-container {
  min-width: 300px;
}

.list-container {
  min-width: 700px;
  width: 100%;
  
  .product-card {
    border-radius: 10px;
    min-width: 270px;
    max-width: 290px;
    overflow: hidden;
    width: 100%;
  }
  .product-card:hover {
    .product-hover {
      display: block; 
    }
    .product-overlay {
      background-color: transparent;
    }
    .product-stock {
      color: white;
    }
    .product-wishlist {
      background-color: transparent !important;
      border:1px solid white !important;
    }
    .wishlist-icon {
      color: white !important;
    }
  }  
  .product-hover {
    background-color: #73b71bec;
    bottom: 0;
    color: white;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 20;    

    .product-hover-container {
      height: 100%;

      button {
        border-radius: 20px;
        width: 200px;
      }
    }
    .product-hover-title {
      margin-top: 180px;
      margin-bottom: 50px;
    }
  }
  .product-img {
    height: 87%;
  }
  .product-imgcontainer {
    height: 270px;
  }
  .product-overlay {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  .product-points {
    color: #79B625;
    font-size: 14px;

    .img-points-logo {
      height: 10px;
    }
  }
  .product-reviews {
    font-size: 10px;
    color: gray;
    margin-top: 12px;
  }
  .product-sort {
    border-radius: 50px;
    padding: 0 2.25rem 0 0.75rem;
    text-align: center;
    width: 150px;
  }
  .product-title {
    z-index: 30;
    background-color: transparent;
    border-bottom: none;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 20px;
  }
  
  .product-best-seller {
    background: rgb(0, 183, 255);  
     
    span {
      bottom: 0px;
      left: 30px;
    }   
  }
  .product-hot-item {
    background: #E7246B;      
     
    span {
      bottom: 0px;
      left: 35px;
    }     
  }
  .product-new {
    background: rgb(201, 201, 18);  
     
    span {
      bottom: 10px;
      left: 35px;
    }   
  }
  .product-wishlist {
    align-content: center;
    background-color: #E7246B;
    border-radius: 50px;
    width: 55px;
    z-index: 30;
  }
  .sale-tag{
    border-radius: 10px;
    height: 70px;
    position: absolute;
    top: -20px;
    transform: rotate(45deg);
    right: -35px;
    width: 100px;

    span {
      color: white;
      position: absolute;
      text-align: center;
    }
  }

  .text-error {
    color: #E7246B;
  }
  .text-success {
    color: #79B625 !important;
  }

  .wishlist-icon {
    color: transparent;
  }
  .wishlist-index {
    z-index: 30;
  }
}
  
.label-style {
  color: gray;
  font-size: 14px;
}